/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

:root
  --bgColor $bgColor
  --navBgColorDark $navBgColorDark
  --sideBgColor $sideBgColor

.home .hero img
  max-width 450px!important
/**
html
body
  background-color var(--bgColor)

.theme-default-content:not(.custom)
  max-width 1000px



.navbar
.links
  background-color var(--navBgColorDark)!important

.navbar
  filter: drop-shadow(0px 1px 1px var(--bgColor));


tr
  &:nth-child(2n)
    background-color #363b40
*/


  

.sidebar
  background-color var(--sideBgColor)